.bodyChuckpage{
    /* background: #a1663f; */
    /* background: url('https://images.unsplash.com/photo-1519606247872-0440aae9b827?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'); */
    background: url('https://image.noelshack.com/fichiers/2019/17/5/1556266898-bois-chuck2.jpg');
}


.sectionGrid{   
    background: url('https://image.noelshack.com/fichiers/2019/17/5/1556266898-bois-chuck2.jpg');
    /* background: #a1663f; */
    margin-top:10%;
}
.sectionCounterfact{
    margin-top: 6%;
}

.separation1{
    width: 100%;
    height: 5%;
    /* background: #553e23;; */
    background: url(https://images.unsplash.com/photo-1533631273148-264f2ec26448?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80);
    /* background: url('https://images.unsplash.com/photo-1519606247872-0440aae9b827?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'); */
    margin-top: -2%;
    position: absolute;
    left: 0;
    transform: rotate(-1.25deg);
    z-index: 5;
    box-shadow: 0 10px 15px -5px rgba(0,0,0,.8);
}

.separation2{
    width: 100%;
    height: 5%;
    background: url(https://images.unsplash.com/photo-1533631273148-264f2ec26448?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80);
    /* background: #db9d56; */
    margin-top: -8%;
    position: absolute;
    left: 0;
    transform: rotate(-1.25deg);
    z-index: 5;
    box-shadow: 0 10px 15px -5px rgba(0,0,0,.8);
}
/* .separation3{
    width: 100%;
    height: 5%;
    background: url(https://images.unsplash.com/photo-1533631273148-264f2ec26448?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80);
    margin-top: -9%;
    position: absolute;
    left: 0;
    transform: rotate(-1.25deg);
    z-index: 5;
    box-shadow: 0 10px 15px -5px rgba(0,0,0,.8);
} */

.Counterfact-title{
    font-size: 50px;
    font-weight:bold;
    font-style: italic;
    color: white;
}

.button-primary2{
    background: #db9d56;
    border: 4px solid white;
    border-radius: 8px;
    display: inline-block;
    padding: 7px 30px 6px;
    color: black;
    /* font-family: 'Poppins', sans-serif; */
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-size: 1.875rem;
    letter-spacing: 0.1em;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 3%;
} 

.button_movie{
    width:100%;
    text-align: center;
}

.button_movie a {
    text-align: center;
}

@media screen and (max-width: 768px) {

    .button-primary2{
        margin-bottom: 2%;
    
    }
     .separation2{
        display: none;
    }
    .separation1{
        display: none;
    }

    
  }