.body_film{
    
    background-image: url("https://image.noelshack.com/fichiers/2019/16/4/1555575708-chuck-movie2.png")  ;
    background-image: cover;
    background-image: 100%;
    background: rgba(131, 127, 127, 0.8)
    
}

.chuck_movie{
    padding-top: 2%;
}

.chuck_movie img{
    width:150px;
    border-radius:5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chuck_movie table{
    
    display: block;
    color:black;
    padding-left: 16px;
    width:90%;
    margin:0 auto;
    /* margin:2%; */
    
}

.chuck_movie tr{
    width:100%;
}

.film{
    width:8px;
} 

.chuck_movie input{
    font-size: 24px;
    display: block;
    width:90%;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    background-color: lightgrey;
    border-radius: 12px;
    margin-bottom: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.film1 img{
    width:120px;
}

.film1 input{
    width:15%;
    margin:0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    font-weight:bold;
    display: block;
}

.info_chuck{
    width:100%;
}

tr{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
