.container{
    background-color:#263238;
    width:90%;
    color: white;
    padding: 3%;
}

.background-chuck{
   background: url('https://image.noelshack.com/fichiers/2019/16/6/1555779464-chuck-movie2.png') repeat;
}

.chuck_movie img{
    width:150px;
    border-radius:5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3%;
}

.input-field input{
    color: white;
}

.background-chuck h1{
    font-size: 3rem;
}