body {
    background: url(https://image.noelshack.com/fichiers/2019/18/2/1556614830-chuck-quizz.jpg) center;
    background-repeat: no-srepeat;
    background-size: cover;
}



.invisible {
    display: none;
}


