@font-face {
    font-family: 'RioGrande';
    font-style: "normal";
    font-weight: 900;
    src: url(./fonts/RioGrande.ttf);
}

@font-face {
    font-family: 'RioGrande2';
    font-style: "normal";
    font-weight: 900;
    src: url(./fonts/RioGrande2.ttf);
}

@font-face {
    font-family: 'Western';
    font-style: "normal";
    font-weight: 400;
    src: url(./fonts/Western.TTF);
}

@font-face {
    font-family: 'Bener';
    font-style: "Regular";
    font-weight: 900;
    src: url(./fonts/BERNIERShade-Regular.ttf);
}
@font-face {
    font-family: 'WesternV2';
    font-style: "Regular";
    font-weight: 900;
    src: url(./fonts/OldWestern.otf);
}
@font-face {
    font-family: 'Kaushan';
    font-style: "Regular";
    font-weight: 900;
    src: url(./fonts/kaushan-script.regular.ttf);
}
@font-face {
    font-family: 'OldWestern';
    font-style: "Regular";
    font-weight: 900;
    src: url(./fonts/OldWestern.otf);
}
@font-face {
    font-family: "PermanentMarker";
    font-style: "Regular";
    font-weight: 900;
    src: url(https://fonts.googleapis.com/css?family=Permanent+Marker);
}
@font-face {
    font-family: "Americankestral";
    font-style: "Regular";
    font-weight: 900;
    src: url(./fonts/Americankestral.ttf);
}
@font-face {
    font-family: "Staatliches";
    font-style: "Regular";
    font-weight: 900;
    src: url(https://fonts.googleapis.com/css?family=Staatliches);
}