.banner1{
    background-color:  #3F0C01;
    background: repeat url("https://image.noelshack.com/fichiers/2019/14/4/1554401550-banchuck-1.jpg");
    display: flex;
    justify-content: space-evenly;
    color:white;
    max-width: 90%;
    margin : 0 auto;
    border: ridge 5px rgb(78, 47, 35);
    border-radius: 5px; 
    }
.text_ban1 {
    text-align: center;
    font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 3vh;
}

    
.pic_of_chuck2 img{
    max-width:220px;
    margin-left: 2%;
    padding-top: 17%;
    
    }
    
.text_ban1 p{ 
    max-width: 85%;
    margin-left: 6%;
    padding-top: 2%;
    text-align: justify;
    font-size: 1rem;
    }

    
    
.button-primary1 {
    border-radius: 8px;
    display: inline-block;
    padding: 7px 30px 6px;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 2%;
    border: 3px solid white;
}
    
@media screen and (max-width: 768px) {
    .banner1 {
        display:flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 20%;
        }
    
    .button-primary1{
        margin-bottom: 2%;
        }
    .pic_of_chuck2 img{
        margin-left: 2%;
        padding-top: 17%;
        max-width:23vh;        
        }
    .text_ban1 p{ 
        margin-left: 6%;
        padding-top: 2%;
        text-align: justify;
        max-width: 85%;
        }
}