.slider{
    width:500px;
    box-shadow: 2px 2px 5px #AB6543;
    overflow: hidden;
    border: 4px solid white;

}


.slides{
    width: calc(500px * 4);
    animation: glisse 30s infinite;
    animation-timing-function: ease-in-out;
}

.slide{
    float: left;

}

.slide img{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.slide img:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

@keyframes glisse {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-500px);
    }
    35%{
        transform: translateX(-500px);
    }
    
    50%{
        transform: translateX(-1000px);
    }
    60%{
        transform: translateX(-1000px);
    }
    75%{
        transform: translateX(-1500px);
    }
    85%{
        transform: translateX(-1500px);
    }
    100%{
        transform: translateX(0)
    }
}