.retryMode {
    margin: 0 auto;
    text-align: center;

    margin-top: 5%;
   
}

.retry{
    background-color: red;
    color:white;
    font-weight: bold;
    border-radius: 5%;
    margin-bottom:5%;
    font-family: "PermanentMarker";
    
}